$mobile-width: "(min-width:576px)";
$tablet-width: "(min-width:768px)";
$tablet-gorizontal: "(min-width:992px)";
$desktop-width: "(min-width:1200px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";


$light-gray: #f2f3f5;
$dark-gray: #36545a;
$gray-color: #78828c;
$black-color: #33373c;
$green-color: #2F9F1C;
$dark-green:#367d2a;
